{% extends "appbuilder/base.html" %}
{% block head_css %}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="jumbotron">
        <h2>Acceso protegido</h2>
        <p>
            Solo los usuarios autenticados pueden acceder a esta sección.
        </p>
    </div>
</div>
{% endblock %}